@model IEnumerable<PMS.EF.Models.Order>

@{
    ViewBag.Title = "All Orders";
    Layout = "~/Views/Shared/ngolayout.cshtml";
}

<h2>Assign Work</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lasttime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lasttime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            <td><a href="/Employee/Assign/@item.Id"class="btn btn-danger">Assign</a></td>
        </tr>
    }
</table>
